.card-date{
    background-color: blue;
}

.font-size{
    font-size:10px;
}

.headings-size h2{
    font-size:20px;
}

.headings-size h3{
    font-size:18px;
}

.buttn{
    width:50%
}

.card-columns{
    width:40%;
}

.heading-img img{
    width:100%
}

.header{
    margin-top:50px;
    color:white;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 5;
  }
}