.register{
    text-align: center;
    width: 650px;
    background-color:  white;
    opacity:0.9;
    position: absolute;
    left: 34%;
    top: 18%;
    border:none;
    border-radius: 5px;
}

.button{
    margin:4em;
    background-color: rgb(18, 26, 46);
    color:white;
    border-color: white;
    font-weight: bolder;
    width: 20%;
    height: 60px;
}

.form-control{
    border: 0;
    outline: 0;
    border-bottom: 2px solid grey;
    margin: 1em;
    width: 95%;
}

.input-group-text{
    width: 120%;
}

.input-group{
    width: 95%;
}