*{
    box-sizing: border-box;
}

.navbar{
    /*color: rgb(61, 166, 117);*/
    color: white;
    height: 75px;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Gugi';
}

.link{
    text-decoration: none;
    /*color:rgb(61, 166, 117);*/
    color: white;    
    padding: 0rem 1rem 0em 2em;
}

.link:hover{
    text-decoration: none;
    /*color:rgb(61, 166, 117);*/
    color: white;
}

.bg{
    background-color: rgb(18, 26, 46);
}

.home{
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .navbar {
      
    }
  }